<launch>

    <!-- <include file="$(find airsim_ros_pkgs)/launch/airsim_node.launch"/> -->

    <!-- clip depth image to 20 meters -->
    <node pkg="airsim_tutorial_pkgs" type="depth_clip_node.py" name="depth_clip_20" output="screen" />

    <!-- transfer depth image to pointcloud -->
    <include file="$(find airsim_tutorial_pkgs)/launch/avoidance_test/depth_to_pointcloud_new.launch"/>

    <!-- 设置点云topic -->
    <arg name="pointcloud_topics" default="[/airsim_node/drone_1/camera_1/DepthPlanar/registered/points]"/>

    <!-- fix ENU and local_origin -->
    <node pkg="tf" type="static_transform_publisher" name="tf_depth_camera"
          args="0 0 0 0 0 0 world_enu local_origin 10"/>

    <!-- Launch rqt_reconfigure -->
    <node pkg="rqt_reconfigure" type="rqt_reconfigure" output="screen" name="rqt_reconfigure" />

    <!-- Load custom console configuration used to config debug info -->
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find px4_avoidance_airsim)/config/custom_rosconsole.conf"/>

    <!-- Launch local planner -->
    <arg name="manager"             default="local_planner_manager"/>

    <!-- rename local planner output before create nodelet -->
    <remap from="/mavros/setpoint_position/local" to="/input_setpoint_position_local" />
    <node pkg="nodelet" type="nodelet" name="$(arg manager)" args="manager" output="screen"/>
    
    <node pkg="nodelet" type="nodelet" name="local_planner_nodelet" args="load LocalPlannerNodelet $(arg manager)" output="screen">
        
        <param name="goal_x_param" value="100" />
        <param name="goal_y_param" value="0"/>
        <param name="goal_z_param" value="5" />
        <rosparam param="pointcloud_topics" subst_value="True">$(arg pointcloud_topics)</rosparam>
    </node>

    <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find px4_avoidance_airsim)/rviz/local_planner.rviz" />

</launch>
